label {
    display: block;
    margin-bottom: -20px;
}

.title-forms {
    h2 {
        color: $color-white;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: -28px;
    }
}

.wpcf7-form {
    p {
        padding: 0;
    }

    label {
        margin-top: -10px;
    }
}

.wpcf7-submit {
    margin-top: 12px;
}

.wpcf7-not-valid-tip {
    color: $color-yellow !important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="email"] 
{
    width: 100%;
    border: 2px solid $color-white;
    transition: border-color 0.3s ease-in-out;
    border-radius: 6px;
    padding: 8px 0 8px 12px;
    padding-left: 12px;

input[type="text"]::placeholder {
    text-indent: 12px;
    }
}

textarea {
    width: 100%;
    border: 3px solid $color-white;
    transition: border-color 0.3s ease-in-out;
    border-radius: 6px;
    padding-left: 12px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: $color-yellow;
}

input[type="submit"] {
    padding: 15px 75px;
    border-radius: 6px;
    color: $color-white;
    background-color: $color-yellow;
    border:none;
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $color-yellow-hover;
    }
}
