a, li {
    text-decoration: none;
    list-style-type: none;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1170px;

    @media (max-width: 991px) {
        max-width: 850px;
    }
}

ul {
    padding: 0;
}

.row {
    --bs-gutter-x: 0;
}

.slick-dots li button:before {
    display: none;
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}