a, li {
    text-decoration: none;
    list-style-type: none;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1170px;

    @media (max-width: 991px) {
        max-width: 850px;
    }
}

ul {
    padding: 0;
}

.row {
    --bs-gutter-x: 0;
}