@import 'variables';

.menu-menu-footer-container {
    margin-right: 15px;
}

.mobile-menu-custom-button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 10px;
}

.nav.transparent {
    opacity: 90%;
}


.menu-footer .menu {
    display: flex;
    margin: 0;

    li {
        margin-left: 0px;

        &:not(:first-child) {
            padding-left: 44px;
        }

        a {
            color: $color-gray;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: $color-gray-hover;
                transition: width 0.3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
              }
        }

    }

}

.nav {
    width: 100%;
    height: 80px;
    background-color: $color-gray;
    position: fixed;
    z-index: 5;
    transition: opacity 0.5s ease-in-out;
    

    .logo {
        padding-right: 72px;
    }

    .menu {
        display: flex;
        margin: 0;

        li {
            margin-left: 0px;

            &:not(:first-child) {
                padding-left: 72px;
            }

            a {
                color: $color-white;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background-color: $color-blue;
                    transition: width 0.3s ease-in-out;
                }

                &:hover::after {
                    width: 100%;
                    }
            }

        }

    }

    .img-home {
        position: relative;
    }

    div.nav-bnt {
        background-color: $color-blue;
        border-radius: 6px;
        margin: 0 52px 0 50px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $color-blue-hover;
        }


        a {
            color: $color-white;
            font-weight: 700;
            font-size: 14px;
            line-height: 6px;
            width: 170px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .bnt-icons li {
        margin-left: 0px;

        &:not(:first-child) {
            padding-left: 30px;
        }
    }


}

.menu-mobile {
    position: relative;
    height: 100vh;
    width: 256px;
    background-color: #363636;
}

.text-banner {
    @media(max-width: 1263px) {
        padding: 0 150px;
    }

    @media(max-width: 830px) {
        padding: 0 80px;
    }

    @media(max-width: 830px) {

        h1 {
            font-size: 30px;
        }
    }

    @media(max-width: 659px) {

        h1 {
            font-size: 20px;
            line-height: 30px !important;
        }
    }

    @media(max-width: 659px) {
        padding: 0 40px;

        h1 {
            font-size: 16px;
            line-height: 25px !important;
        }
    }

    @media(max-width: 418px) {
        padding: 0 30px;

        h1 {
            font-size: 16px;
            line-height: 25px !important;
        }
    }
}

.text-banner-blog {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 40px;
}
