.single {
    .content {
        padding-top: 100px;
        padding-bottom: 100px;

        @media(max-width: 600px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        h2 {
            font-size: 28px;
            margin-bottom: 28px;
            font-weight: 700;

            @media(max-width: 600px) {
                font-size: 20px;
            }
        }

        .title-single-blog {
            font-size: 36px;
            font-weight: 600
        }

        .by-single-blog p {
            font-size: 16px;
            font-weight: 400
        }

        p {
            font-size: 20px;

            @media(max-width: 600px) {
                font-size: 16px;
            }
        }


    }

    .nav-banner-single-blog {
        img {
            margin-top: 80px;
        }

        .bg-blog {
            color: $color-black;
        }

        .img-banner {
            width: 100%;
            max-height: 690px;
            height: 100%;
            object-fit: cover;

            @media(max-width: 765px) {
                height: 200px;
            }
        }


        div {

            top: 370px;

            @media(max-width: 1263px) {
                top: 200px;
            }

            @media(max-width: 830px) {
                top: 160px;
            }

            @media(max-width: 765px) {
                top: 190px;
            }

            h1 {
                color: $color-white;
                line-height: 32px;
                font-weight: 600;
                font-size: 44px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                line-height: 50px;

                @media(max-width: 830px) {
                    font-size: 35px;
                }

                @media(max-width: 520px) {
                    font-size: 28px;
                }

                @media(max-width: 420px) {
                    font-size: 20px;
                }
            }

            p {
                color: $color-white;
                line-height: 25px;
                font-weight: 500;
                font-size: 16px;
                width: 450px;
                padding-top: 6px;

                @media(max-width: 830px) {
                    font-size: 14px;
                    width: 400px;
                    height: 40px;
                }

                @media(max-width: 659px) {
                    font-size: 12px;
                    width: 300px;
                    height: 35px;
                    margin-top: 20px;

                }

                @media(max-width: 418px) {
                    font-size: 12px;
                    width: 300px;
                    height: 35px;
                    margin-top: 20px;
                    line-height: 20px;

                }
            }

            a {
                display: block;
                color: $color-white;
                line-height: 54px;
                font-weight: 800;
                top: 340px;
                background-color: $color-blue;
                width: 170px;
                height: 50px;
                font-size: 16px;
                display: flex;
                margin-top: 36px;
                justify-content: center;
                align-items: center;
                border-radius: 6px;

                @media(max-width: 830px) {
                    font-size: 14px;
                    width: 120px;
                    height: 40px;
                }

                @media(max-width: 659px) {
                    font-size: 12px;
                    width: 100px;
                    height: 35px;
                    margin-top: 20px;

                }

                @media(max-width: 418px) {
                    font-size: 12px;
                    width: 100px;
                    height: 35px;
                    margin-top: 20px;

                }
            }
        }

    }



    .nav-banner {
        img {
            margin-top: -5px;
        }
    }
}