.sobre-mim {

    .bg-blue {
        background-color: $color-blue;
    }

    .bg-black {
        background-color: $color-black;
        padding: 0;
    }

    .img-paulo {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }

    .title {
        color: $color-white;
        font-weight: 900;
        font-size: 28px;
        line-height: 35px;
        max-width: 460px;
        margin-bottom: 28px;

        @media(max-width: 961px) {
            font-size: 24px;
            line-height: 32px;
        }

        @media(max-width: 481px) {
            font-size: 20px;
            line-height: 28px;
        }

    }

    .about {
        margin-left: 84px;
        padding-top: 70px;
        padding-bottom: 48px;
        

        @media(max-width: 600px) {
            margin-left: 40px;
        }

        @media(max-width: 1100px) {
            margin-left: 40px;
        }

        @media(max-width: 1181px) {
            margin-right: 40px;
        }

        @media(max-width: 481px) {
            padding-top: 64px;
        }


        p {
            font-weight: 400;
            font-size: 18px!important;
            line-height: 29px;
            color: $color-white;
            max-width: 513px;
        }

    }

    .bg-slogan {
        background-color: $color-white;
        color: $color-black;

        h2 {
            font-weight: 700;
            font-size: 42px;
            line-height: 50px;
            padding-top: 80px;

            @media(max-width:640px) {
                font-size: 35px;
                line-height: 40px;
            }
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            padding-bottom: 80px;
        }
        
    }

    .bg-informacoes {
        background-color: $color-white;
        color: $color-black;

        h4 {
            font-weight: 600;
            font-size: 45px;
            line-height: 32px;
            margin-bottom: 10px;

            @media(max-width:960px) {
                font-size: 35px;
            }

            @media(max-width:640px) {
                font-size: 20px;
            }
        }

        h5 {
            font-weight: 500;
            font-size: 18px;
            line-height: 20px;
            margin-left: 19px;

            @media(max-width:960px) {
                font-size: 14px;
                line-height: 20px;
            }

            @media(max-width:640px) {
                font-size: 10px;
                line-height: 15px;
                margin-left: 0;
            }

        }
        
    }

    .briefing {
        padding-top: 134px;

        h2 {
            padding: 128px 0;
            font-weight: 700;
            font-size: 40px;
            line-height: 30px;

            @media(max-width: 600px ) {
                padding: 64px 0 30px 0;
                font-size: 24px;
            }
        }

        li {
            list-style-type: none;
            position:relative;

            h4 {
                font-weight: 700;
                font-size: 30px;
                padding-left: 58px;
                position: relative;
                color: $color-white;

                @media(max-width: 600px ) {
                    font-size: 20px;
                    padding-left: 20px;
                }
            }

            p {
                font-size: 20px;
                line-height: 42px;
                padding-left: 58px;
                padding-bottom: 70px;
                color: $color-white;
                margin-bottom: 0;

                @media(max-width: 600px ) {
                    font-size: 16px;
                    line-height: 30px;
                    padding-left: 20px;
                }
            }
        }

        li:before {
            font-family: FontAwesome;
            float: left;
            margin-left: -22px;
            margin-top: -39px;
            content: "\2022";
            color: #1f22fd;
            font-size: 75px;
            position: absolute;

            @media(max-width: 600px ) {
                font-size: 80px;
                margin-top: -47px;
            }
        }

        ul {
            padding-left: 20px;
        }

        
    }
}