$color-blue: #1013c7;
$color-blue-hover: #0f0f8f;
$color-blue-dark: #0f0f8f;
$color-gray: #1f1f1f;
$color-gray-dark: #343434;
$color-black: #000;
$color-white: #fff;
$color-white-hover: #E0E0E0;
$color-gray-text: rgba(0,0,0,.87);
$color-light-gray: #828282;
$color-gray-hover: rgba(196, 196, 196, 1);
$color-light-blog: #f1f1f1;
$color-green: #0ac141;
$color-green-hover: #00a933;
$color-yellow: #f7b11d;
$color-yellow-hover: #f3a500;