$color-blue: #2021de;
$color-blue-dark: #0f0f8f;
$color-gray: #1f1f1f;
$color-black: #000;
$color-white: #fff;
$color-gray-text: rgba(0,0,0,.87);
$color-light-gray: #828282;
$color-green: rgb(10, 193, 65);